.homeProducts {
  padding: 25px 0;
  width: 100%;
}

.homeProducts .banner {
  width: 100%;
  /* border-radius: 10px; */
  overflow: hidden;
}

.homeProducts .banner img {
  /* width: 100%; */
  border-radius: 10px;
  /* overflow: hidden; */
}

.homeProductRow .hd {
  font-size: 2.5rem;
  font-weight: 600;
}

.homeProductRow .viewAllBtn {
  padding: 5px 25px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  color: #000;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.homeProductRow .viewAllBtn svg {
  font-size: 1.3rem;
}

